header.masthead {
    background-image: none;
    /* background-color: #4e89ae; */
    background-color: #52575d;
}

/* #mainNav{
    background-color: #43658b;
} */

section#contact {
    background-image: none;
    background-color: #52575d;
}